{% extends 'base.html.twig' %}

{% block title %}
   Méteo Strategia
{% endblock %}

{% block body %}
  <div class="content">   
    <div class="blockText">
      <h1>{{ api.name }}</h1>
      <p class="temp">{{ api.main.temp }}°</p>
      <h2> {{ date }}</h2>
      {% if api.weather[0].description == "ciel dégagé" %}
        <div class="icon sunny">
          <div class="sun">
            <div class="rays"></div>
          </div>
        </div>
      {% elseif api.weather[0].description == "peu nuageux" %}
        <div class="icon sunny">
          <div class="sun">
            <div class="rays"></div>
            </div>
          <div class="cloud3"></div>
        </div>
      {% elseif api.weather[0].description == "nuageux" or api.weather[0].description == "partiellement nuageux" %}
        <div class="icon partly cloudy">
          <div class="cloud"></div>
          <div class="cloud"></div>
          <div class="sun">
            <div class="rays"></div>
          </div>
        </div>
      {% elseif api.weather[0].description == "couvert" or api.weather[0].description == "brume" %}
        <div class="icon cloudy">
            <div class="cloud"></div>
            <div class="cloud"></div>
        </div>
      {% elseif api.weather[0].description == "fumée" or api.weather[0].description == "brume sèche" %}
        <div class="icon big rainy">
            <div class="cloud"></div>
            <div class="cloud"></div>
            <div class="rainbig"></div>
        </div>
      {% elseif api.weather[0].description == "légère pluie"  or api.weather[0].description == "averses de pluie" or api.weather[0].description == "pluie modérée" or api.weather[0].description == "petites averses" %}
        <div class="icon big rainy">
          <div class="rain3"></div>
        </div>
      {% endif %}
      <p class="">{{  api.weather[0].description  | capitalize }}</p>
      <p>Aujourd'huis à <b>{{ api.name }}</b>, la température minmal sera de <b>{{ api.main.temp_min }}°</b> et la température maximal sera de <b>{{ api.main.temp_max }}°</b></p>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Pression atmosphérique : {{ api.main.pressure }} hPa</li>
            <hr>
          <li class="list-group-item">Humidité : {{ api.main.humidity }} %</li>
            <hr>
          <li class="list-group-item">Vitess du vent : {{ api.wind.speed }} Km/h</li>
      </ul>
      <form action={{ path('weather')}} method=post class="row">
          <input class="inputSearch"  id="search_city" name="search_city" type="search"  placeholder="Votre ville...">
          <button class="btn_search">Rechercher</button>
      </form> 

      <footer>
        <p>Créé par Dimitri Klopfstein, <a class="link" href="https://www.dimitri-klopfstein.com/">www.dimitri-klopfstein.com</a>, pour Strategia <a href="https://strategia.io/"><img src="{{ asset('image/ori.png') }}" alt=""></a></p>
      </footer>
  </div>
{% endblock %}
